-- Generated from deployments/identity-polygon_mainnet.json
DO $$
BEGIN
  ALTER TABLE IF EXISTS public.market_chain_config
    ADD COLUMN IF NOT EXISTS usdt_address text,
    ADD COLUMN IF NOT EXISTS fee_bps integer NOT NULL DEFAULT 50,
    ADD COLUMN IF NOT EXISTS identity_stable_address text,
    ADD COLUMN IF NOT EXISTS identity_factory text,
    ADD COLUMN IF NOT EXISTS identity_router text,
    ADD COLUMN IF NOT EXISTS identity_name_registry text,
    ADD COLUMN IF NOT EXISTS identity_ownership_controller text,
    ADD COLUMN IF NOT EXISTS identity_liquidity_manager text;

END $$;

SELECT chain, chain_id, active, usdc_address, identity_factory, identity_router, identity_ownership_controller, identity_liquidity_manager
FROM public.market_chain_config
WHERE chain = 'polygon'::public.chain_name;
